/* 
    Created on : 11.05.2020
    Author     : Duarte Goncalves Mendes & Joel Weiss
*/
* {
    box-sizing: border-box;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

input, select {
	color: white !important;
	background-color: #222 !important;
	border: none !important;
	border-bottom: 2px solid #2f2f2f !important;
	transition: all .2s !important;
	outline: none !important;
	box-shadow: none !important;
}

input:focus, select:focus {
	border-bottom: 2px solid #1abc9c !important;
}

.control-label {
	padding-top: 0 !important;
	font-weight: normal;
	font-size: 18px;
	color: #9d9d9d;
}

.button {
	width: 32%;
	text-transform: uppercase;
	border: 2px solid #1abc9c;
	color: #1abc9c;
	background: transparent;
	transition: all .2s;
}

.button:hover {
	background-color: #222;
}

.flex-container > div {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.addButton{
	width:100%;
}

.pwdButton{
	width:20%
}