<!DOCTYPE html>
<html>
<head>
<title>Soteria</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png" href="/img/soteria_icon.png">
</head>
<body class="bg-4">
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-inverse">
		<div class="navbar-header">Soteria</div>
	</nav>
	<!--/.Navbar-->
	<div id="accordion">
		<div class="flex-container">
			<div>
				<h2>Willkommen</h2>
			</div>
			<div th:text="${user.username}" />
			<div>
				<a th:href="@{addPassword}" class="addButton button btn btn-primary">Add
					Password</a>
			</div>
		</div>
		<div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Domain</th>
							<th scope="col">Username</th>
							<th scope="col">Password</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="pw : ${user.passwords}">
							<tr>
								<td th:text="${pw.domain}"></td>
								<td th:text="${pw.username}"></td>
								<td th:text="${pw.password}"></td>
								<td><a th:href="@{viewPassword(id=${pw.id})}"
									class="pwdButton button btn btn-primary">View Password</a> <a
									th:href="@{editPassword(id=${pw.id})}"
									class="pwdButton button btn btn-primary">Edit Password</a> <a
									th:href="@{deletePassword(id=${pw.id})}"
									class="pwdButton button btn btn-primary">Delete Password</a></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer class="container-fluid bg-4 text-center">
		<p>&copy; Duarte Mendes & Joel Weiss</p>
	</footer>
</body>
</html>
