<!DOCTYPE html>
<html>
<head>
<title>Soteria</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png" href="/img/soteria_icon.png">
</head>
<body class="bg-4">
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-inverse">
		<div class="navbar-header">Soteria</div>
	</nav>
	<!--/.Navbar-->
	<div th:if="${action} == 'new'" >
		<form class="form-horizontal" action="#" th:action="@{/addPassword}"
			th:object="${pwd}" method="post">
			<div>
				<p class="search-sub-title">Password Infos</p>
				<div class="form-group">
					<label class="control-label col-sm-4" for="domain">Domain</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="domain"
							th:field="*{domain}" autocomplete="off" required />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="username">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username"
							th:field="*{username}" autocomplete="off" required />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="password">Password</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="password"
							th:field="*{password}" autocomplete="off" required />
					</div>
				</div>
				<button type="submit" class="button btn btn-info">Save Password</button>
			</div>
		</form>
	</div>
	<div th:if="${action} == 'view'" >
		<form class="form-horizontal" action="#" th:action="@{/viewPassword}"
			th:object="${pwd}" method="post">
			<div>
				<p class="search-sub-title">Password Infos</p>
				<div class="form-group">
					<label class="control-label col-sm-4" for="domain">Domain</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="domain"
							th:field="*{domain}" autocomplete="off" disabled />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="username">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username"
							th:field="*{username}" autocomplete="off" disabled />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="password">Password</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="password"
							th:field="*{password}" autocomplete="off" disabled />
					</div>
				</div>
				<button type="submit" class="button btn btn-info">Back to Overview</button>
			</div>
		</form>
	</div>
	<div th:if="${action} == 'edit'" >
		<form class="form-horizontal" action="#" th:action="@{/editPassword}"
			th:object="${pwd}" method="post">
			<div>
				<p class="search-sub-title">Password Infos</p>
				<div class="form-group">
					<label class="control-label col-sm-4" for="domain">Domain</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="domain"
							th:field="*{domain}" autocomplete="off" required />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="username">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username"
							th:field="*{username}" autocomplete="off" required />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="password">Password</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="password"
							th:field="*{password}" autocomplete="off" required />
					</div>
				</div>
				<button type="submit" class="button btn btn-info">Save Changes</button>
			</div>
		</form>
	</div>
	<div th:if="${action} == 'delete'" >
		<form class="form-horizontal" action="#" th:action="@{/editPassword}"
			th:object="${pwd}" method="post">
			<div>
				<p class="search-sub-title">Password Infos</p>
				<div class="form-group">
					<label class="control-label col-sm-4" for="domain">Domain</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="domain"
							th:field="*{domain}" autocomplete="off" disabled />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="username">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username"
							th:field="*{username}" autocomplete="off" disabled />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="password">Password</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="password"
							th:field="*{password}" autocomplete="off" disabled />
					</div>
				</div>
				<button type="submit" class="button btn btn-info">Delete Password</button>
			</div>
		</form>
	</div>
	<footer class="container-fluid bg-4 text-center">
		<p>&copy; Duarte Mendes & Joel Weiss</p>
	</footer>
</body>
</html>
